%p
  Have an app idea or design you want to get into this rapidly growing marketplace?
%p
  Let's build the next great mobile app for the iOS or Android platform.
%p
  %strong
    Check out our corporate mobile application that is optimized for the mobile
    experience! Our mobile app is also featured in the Ionic Showcase.
%table
  %tr
    %td
      = link_to 'https://itunes.apple.com/us/app/id1069734743', target: :_blank do
        = image_tag 'Download_on_the_App_Store_Badge_US-UK_135x40.svg', alt: 'Apple App Store', width: 110
    %td
      = link_to 'https://play.google.com/store/apps/details?id=com.missionridgeconsulting.mrsc_mobile', target: :_blank do
        = image_tag 'google_play_store.png', alt: 'Google Play Store', width: 110
    %td
      = link_to 'http://showcase.ionicframework.com', target: :_blank do
        = image_tag 'ionic_showcase.png', alt: 'Ionic Application Showcase', width: 110
