.thumbnail
  .caption
    %p= image_tag 'mobile.png', class: 'img-responsive pull-left padded-right-bottom-image', width: locals[:default_image_width]
    %h4
      %strong Mobile App Development
    = render 'pages/services/mobile_summary'
    %strong
      = link_to '#', id: 'toggle-mobile-text' do
        = locals[:read_more_label]
    %div#mobile-text
      %p
        We started developing Mobile apps two years ago in response to the growing demand in the mobile app
        development space. Mobile application development is now a critical part of any product strategy and its worth
        thinking through if you need a native mobile app or you prefer a responsive web approach where the mobile
        experience on your site is optimized.
      %p
        Mobile app development is moving fast, and we're committed to staying on top of the best frameworks,
        techniques and design standards for mobile. We like to use
        = link_to "Ionic", 'http://ionicframework.com/', target: :_blank
        for mobile development which allows us to dramatically reduce the cost of development!
      %p
        We're ready to get started developing your mobile app when you are.
      %strong
        Check out this cool Apple video called
        = link_to "Apps We Can't Live Without", 'https://youtu.be/6kjFuzPk0xo', target: :_blank
        which should get your juices flowing about a mobile app you could be adding to the Apple or Android marketplace.
