%center
  %footer
    .social-media
      %h3#stay-connected
        Stay Connected
      %ul.fa-ul{class: 'nav nav-pills'}
        %li
          = link_to 'skype:jon.marinello.mrsc?chat', id: 'skype-link' do
            %i.fa.fa-2x.fa-skype
        %li
          = link_to 'https://www.facebook.com/missionridgeconsulting', id: 'facebook-link', target: :_blank do
            %i.fa.fa-2x.fa-facebook
        %li
          = link_to 'http://twitter.com/jonmarinello', id: 'twitter-link', target: :_blank do
            %i.fa.fa-2x.fa-twitter
        %li
          = link_to 'http://google.com/+JonMarinello', id: 'googleplus-link', target: :_blank do
            %i.fa.fa-2x.fa-google
        %li
          = link_to 'http://www.linkedin.com/in/jonmarinello', id: 'linkedin-link', target: :_blank do
            %i.fa.fa-2x.fa-linkedin
        %li
          = link_to 'https://github.com/jonmarinello', id: 'githib-link', target: :_blank do
            %i.fa.fa-2x.fa-github-alt
    %small
      Founded 2011, Mission Ridge Software Consulting LLC © 2011-2015
      %p
        This site currently hosted on Heroku running Ruby on Rails
        = Rails::VERSION::STRING
        with Bootstrap 3 and Ruby
        = succeed '.' do
          = RUBY_VERSION
%script{src: 'http://code.jquery.com/jquery-latest.min.js'}
