=render 'layouts/main_nav_bar'
%p
  =image_tag 'about.jpg', :class => 'img-responsive img-rounded'
%h3
  Our Mission
.well
  Our mission is to provide our customers with very highest quality consulting services that are delivered per
  specification, on time, every time. We are dedicated to helping you achieve greater success by providing
  targeted technical education, improving your overall level of Engineering Excellence as well as directly
  contributing to the development of your products and services. Your success and satisfaction is what makes
  or breaks our business.

  Mission Ridge Software Consulting LLC is a sole proprietorship owned and operated by Jon Marinello.
%h3
  The Team
.panel.panel-default
  .panel-heading
    %h3.panel-title
      =image_tag 'jonmarinello.jpg', :class => 'padded-image img-responsive img-circle pull-left', :width => 140
      %a{:target => '_blank', :href => 'http://www.linkedin.com/in/jonmarinello'} Jon Marinello
  .panel-body
    %p
      Hi, I'm Jon Marinello, the founder and CTO of Mission Ridge Software Consulting LLC which began operations in 2011.
      I have over 30 years of experience developing highly scalable, reliable and available software systems
      in use today by tens of millions of subscribers. I have held senior level positions at Borland, Unisys,
      Callwave, United Online (NetZero & Juno) and Microsoft.
    %p
      In the past we've helped companies transition to Agile methodologies as well as maintaining and extending
      Ruby-based large-scale
      test automation frameworks.
    %p
      Currently, I prefer to work in Ruby on Rails. Its a wonderful platform that allows you to get
      the most bang for your buck and supports all the latest and greatest web-related technologies. This is my
      passion and I love building "responsive" web applications.
    %p
      Click
      %a{:target => '_blank', :href => 'http://www.linkedin.com/in/jonmarinello'} here
      to see the details of all my qualifications on LinkedIn.
    %p
      Since forming Mission Ridge Software Consulting LLC, I've worked with several companies and they have had a lot of
      great things to say about the services Mission Ridge Software Consulting LLC provided. Check out these recommendations:
%h3
  Recommendations
#accordion.panel-group
  - @recommendations.each_key do |key|
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{'data-parent' => '#accordion', 'data-toggle' => "collapse", href: "##{key}"}
            = @recommendations[key]['title']
      .panel-collapse.collapse{id: "#{key}"}
        .panel-body
          =image_tag "#{key}.jpg", :class => 'padded-image img-responsive img-circle pull-left', :width => @person_image_width
          - @recommendations[key]['body'].each do |paragraph|
            %p
              = paragraph
