%title
  = @title || default_application_title
%meta{:content => 'Take a look at our satisfied customers and the work we did for them.', :name => 'description'}
= render partial: 'shared/image_carousel', locals: {page: 'portfolio'}
%h3#title
  Our Portfolio
.row
  .col-md-6
    = render 'pages/portfolio/procore'
  .col-md-6#we-work-well-with-others
    = render 'pages/portfolio/fin_and_field'
.row
  .col-md-6
    = render 'pages/portfolio/the_real_real'
  .col-md-6
    = render 'pages/portfolio/rightscale'
%p
  = render 'shared/read_more', :locals => {target_path: pages_contact_path}
= javascript_include_tag('pages')
= javascript_include_tag('tours/shared/common_tour_steps')
= javascript_include_tag('tours/portfolio_tour')
= render 'layouts/shared/start_tour_box'
= render 'shared/lets_talk_about_your_project'
