= render partial: 'shared/image_carousel', locals: {page: 'services'}
- default_image_width = '200px'
- read_more_label = 'More...'
%h3#title
  Our Core Services
.row
  .col-md-4
    = render 'pages/services/rails', :locals => {read_more_label: read_more_label, default_image_width: default_image_width}
  .col-md-4
    = render 'pages/services/mobile', :locals => {read_more_label: read_more_label, default_image_width: default_image_width}
  .col-md-4
    = render 'pages/services/cms', :locals => {read_more_label: read_more_label, default_image_width: default_image_width}
.row
  .col-md-4
    = render 'pages/services/cloud', :locals => {read_more_label: read_more_label, default_image_width: default_image_width}
  .col-md-4
    = render 'pages/services/ux', :locals => {read_more_label: read_more_label, default_image_width: default_image_width}
  .col-md-4
    = render 'pages/services/agile', :locals => {read_more_label: read_more_label, default_image_width: default_image_width}
%p
  = render 'shared/read_more', :locals => {target_path: pages_about_path}
= javascript_include_tag('pages')
= javascript_include_tag('tours/shared/common_tour_steps')
= javascript_include_tag('tours/services_tour')
= render 'layouts/shared/start_tour_box'
= render 'shared/lets_talk_about_your_project'
