%h3
  Start A Project
.well
  %h4
    Tell us a little bit about yourself and a few things about the project you would like to start.
  %p
    = simple_form_for @potential_project, :url => url_for(:action => 'create', :controller => 'pages') do |f|
      = f.input :name
      = f.input :email
      = f.input :phone
      = f.input :company_name
      = f.input :project_idea
      = f.input :type_website, :label => 'Website', :wrapper => :vertical_boolean
      = f.input :type_ruby_on_rails, :label => 'Ruby On Rails', :wrapper => :vertical_boolean
      = f.input :type_web_design, :label => 'Web Design', :wrapper => :vertical_boolean
      = f.input :type_code_review, :label => 'Code Review', :wrapper => :vertical_boolean
      = f.input :type_other, :label => 'Other', :wrapper => :vertical_boolean
      = f.input :project_idea
      = f.input :start_timeframe
      = f.input :additional_info, :label => 'Any additional information'
      = f.input :heard_about_us, :label => 'How you heard about us'
      = f.input :keep_me_updated, :wrapper => :vertical_boolean
      = f.button :submit
