%h3
  Start A Project
.well
  %p
    Tell us a little bit about yourself and a few things about the project you would like to start. We will contact
    you to discuss you ideas in sort order. All information provided below will be kept strictly confidential and
    does not imply any agreement between us. Its just a starting point for a discussion.
  %p
    = simple_form_for @potential_project, :url => url_for(:action => 'create', :controller => 'pages') do |f|
      = f.input :name, :label => 'Your name'
      = f.input :email, :label => 'Your email address'
      = f.input :phone, :label => 'Your phone number'
      = f.input :company_name, :label => 'Company or organization name'
      = f.input :project_idea, :label => 'Describe your project or idea'
      Project Type (Select all that apply):
      = f.input :type_website, :label => 'Website', :wrapper => :vertical_boolean
      = f.input :type_ruby_on_rails, :label => 'Ruby On Rails', :wrapper => :vertical_boolean
      = f.input :type_web_design, :label => 'Web Design', :wrapper => :vertical_boolean
      = f.input :type_code_review, :label => 'Code Review', :wrapper => :vertical_boolean
      = f.input :type_other, :label => 'Other', :wrapper => :vertical_boolean
      = f.input :additional_info, :label => 'Any additional information'
      = f.input :start_timeframe, :label => 'Starting timeframe'
      = f.input :heard_about_us, :label => 'How you heard about us'
      = f.input :keep_me_updated, :label => 'Keep me updated with Mission Ridge Software Consulting news', :wrapper => :vertical_boolean
      = f.button :submit, 'Submit', :class => 'btn btn-warning'
