%h3
  Start A Project
.well
  %p#start-a-project-prolog
    Tell us a little bit about yourself and a few things about the project you would like to start. We will contact
    you to discuss your ideas in short order. All the information provided below will be kept strictly confidential and
    does not imply any agreement between us. Its just a starting point for a discussion.
  %p
    - if alert || notice
      = render 'shared/flash_messages'
    = simple_form_for @potential_project, url: url_for(action: 'create', controller: 'pages') do |f|
      = f.input :name, label: 'Your name', placeholder: 'Roger Eaton', required: true, 'ng-model' => 'potentialProject.name', 'ng-minlength' => '3', 'ng-class' => "{ 'has-errors' : potentialProject.name.$invalid, 'no-errors' : potentialProject.name.$valid}"
      .error-container{'ng-messages' => 'potentialProject.name.$error', 'ng-show' => 'potentialProject.name.$error'}
        .error{'ng-message' => 'required'}
          %i.fa.fa-2x.fa-info-circle
          Your name is required.
        .error{'ng-message' => 'minlength'}
          %i.fa.fa-2x.fa-info-circle
          Please enter at least 3 characters.
      = f.input :email, label: 'Your email address', placeholder: 'roger@eaton.com', required: true
      = f.input :phone, label: 'Your phone number', placeholder: '(805) 555-1212'
      = f.input :company_name, label: 'Company or organization name', placeholder: 'ACME Inc.'
      = f.input :project_idea, label: 'Describe your project or idea', placeholder: 'I would like to have you build us a website and mobile application.', required: true
      Project Type (Select all that apply):
      = f.input :type_ruby_on_rails_web_development, label: 'Ruby on Rails Web Development', wrapper: :vertical_boolean
      = f.input :type_mobile_app_development, label: 'Mobile App Development', wrapper: :vertical_boolean
      = f.input :type_cms_web_development, label: 'CMS Web Development', wrapper: :vertical_boolean
      = f.input :type_everything_cloud, label: 'Everything Cloud', wrapper: :vertical_boolean
      = f.input :type_ux_prototyping, label: 'User Experience Prototyping', wrapper: :vertical_boolean
      = f.input :type_agile_development, label: 'Agile Development', wrapper: :vertical_boolean
      = f.input :type_other, label: 'Other', wrapper: :vertical_boolean
      = f.input :additional_info, label: 'Any additional information', placeholder: 'We are a small startup company so cost is a factor for us.'
      = f.input :start_timeframe, label: 'Starting timeframe', placeholder: 'Within the next 30-45 days.'
      = f.input :heard_about_us, label: 'How you heard about us', placeholder: 'Business referral.'
      = f.input :keep_me_updated, label: 'Keep me updated with Mission Ridge Software Consulting news', wrapper: :vertical_boolean
      = f.button :submit, 'Submit', class: 'btn btn-warning'
= javascript_include_tag('tours/shared/common_tour_steps')
= javascript_include_tag('tours/start_a_project_tour')
= render 'layouts/shared/start_tour_box'
