!!!
%html
  %head
    %title MRSC
    %link{href: image_path('mission_bell.ico'), rel: "shortcut icon"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Shadows+Into+Light", rel: "stylesheet", type: "text/css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'plugins/bootstrap-tour'
    = csrf_meta_tags
    = render 'shared/analytics'
  %body
    .mrsc-container
      = render 'shared/main_nav_bar'
      = yield
      = render 'shared/social_media_links'
