!!!
%html
  %head
    %title MRSC
    %link{href: image_path('mission_bell.ico'), rel: "shortcut icon"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Shadows+Into+Light', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Google Analytics
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-29141147-1', 'auto');
      ga('send', 'pageview');
    / End Google Analytics
  %body
  .mrsc-container
    =render 'layouts/main_nav_bar'
    = yield
    .well
      %center
        %h3 Have a project we can help with?
        %a.btn.btn-warning{href: url_for(:controller => 'pages', :action => 'contact')} LET'S TALK ABOUT YOUR PROJECT &raquo;
    %center
      %footer
        .social-media
          %h3
            Stay Connected With Us
          %ul.fa-ul{:class => 'nav nav-pills'}
            %li
              %a{:target => '_blank', :href => "skype:jon.marinello.mrsc?chat"}
                %i.fa.fa-2x.fa-skype
            %li
              %a{:target => '_blank', :href => "https://www.facebook.com/missionridgeconsulting"}
                %i.fa.fa-2x.fa-facebook
            %li
              %a{:target => '_blank', :href => "http://twitter.com/jonmarinello"}
                %i.fa.fa-2x.fa-twitter
            %li
              %a{:target => '_blank', :href => "http://google.com/+JonMarinello"}
                %i.fa.fa-2x.fa-google
            %li
              %a{:target => '_blank', :href => "http://www.linkedin.com/in/jonmarinello"}
                %i.fa.fa-2x.fa-linkedin
            %li
              %a{:target => '_blank', :href => "https://github.com/jonmarinello"}
                %i.fa.fa-2x.fa-github-alt
        %small
          Founded 2011, Mission Ridge Software Consulting LLC © 2014
          %p
            This site currently hosted on Heroku running Ruby on Rails
            = Rails::VERSION::STRING
            with Bootstrap 3 and Ruby
            = succeed '.' do
              = RUBY_VERSION
  %script{:src => 'http://code.jquery.com/jquery-latest.min.js'}
